#banner_image{
    padding-top: 75px;
 padding-bottom: 50px;
 text-align: center;
 color: #f8f8f8;
  background-image:url("Food.jpg");background-repeat: no-repeat;
    background-size:cover;background-position: center;

}
#banner_content{
    position: relative;
 padding-top: 7%;
 padding-bottom: 7%;
margin-top: 12%;
 margin-bottom: 12%;
 background-color: rgba(0, 0, 0, 0.7); max-width: 1200px;
}

h1{
color:orange;
}/* */
